<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Productivity Prediction Using ML</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/home.css">
    <script src="main.js"></script>

</head>
<body>
 
    <div class="topnav">
      <div class="navbar-left">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/predict">Predict</a>
  </div>

   </div>
    <div class="container text-center mt-5 text-green">
        <h2 style="color:rgba(12, 12, 232, 0.414)";>Welcome to the Employee Productivity Predictor</h2>
        <p style="color:rgba(32, 32, 222, 0.414)">Empowering Organizations with Data-Driven Performance Insight</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2 class="main">Employee Productivity Predictor
                    Empowering Organizations with Data-Driven Performance Insights
                    This tool uses machine learning to identify productivity trends and support informed HR decisions.</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid feat">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="features">
                    <h2>Features</h2>
               <h3>Performance Trend Visualization:</h3>
               <p>This feature displays how an employee’s performance has evolved over time using charts or graphs.
                It helps identify improvements, drops, or consistency in performance patterns.
                Managers can quickly detect trends that need attention or encouragement.</p>
                <h3>Feature Importance Analysis</h3>
                <p>This shows which input features (e.g., SMV, over_time) have the most influence on performance prediction.
                    It helps users understand what drives employee success or underperformance.
                    Useful for identifying key areas to focus on for employee improvement.</p>
                    <h3> Role-Based User Access</h3>
                    <p>Access is controlled based on user roles like Admin, HR, or Employee.
                        Each user sees only the data and tools relevant to their role, protecting privacy.
                        This ensures secure, personalized experiences across the organization.</p>
                        <h3> Automated Reporting</h3>
                        <p>The system can generate performance reports automatically with key insights and predictions.
                            These reports help managers in performance reviews and training needs assessment.
                            They save time and improve accuracy in HR documentation.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="features">
                    <img src="https://images.pexels.com/photos/3182812/pexels-photo-3182812.jpeg">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
            <div class="faq">
                <h2>Frequently Asked Question: </h2>
            <div class="faq-item">
                <button class="faq-question">Q1: What is the purpose of this application?</button>
                <div class="faq-answer">
                  <p>This app predicts employee performance using historical and work-related data to support better decisions.</p>
                </div>
              </div>
          
              <div class="faq-item">
                <button class="faq-question">Q2: Who can use this system?</button>
                <div class="faq-answer">
                  <p>It’s designed for HR teams, managers, and employees (with limited access) based on their roles.</p>                    .</p>
                </div>
              </div>
          
              <div class="faq-item">
                <button class="faq-question"> Q3: What type of data is used?</button>
                <div class="faq-answer">
                  <p>It uses employee data like working hours, idle time, team, incentives, and job roles.</p>
                </div>
              </div>
              <div class="faq-item">
                <button class="faq-question">Q4: Is this prediction 100% accurate? </button>
                <div class="faq-answer">
                  <p>No, it provides insights and trends — not exact outcomes. It supports, not replaces, human judgment..</p>
                </div>
              </div>
              <div class="faq-item">
                <button class="faq-question"> Q5: Can employees see their own performance prediction?</button>
                <div class="faq-answer">
                  <p>Yes, if granted access. Employees can view their predicted performance and key influencing factors.</p>
                </div>
              </div>
              <div class="faq-item">
                <button class="faq-question"> Q6: How secure is my data?</button>
                <div class="faq-answer">
                  <p>It The system uses role-based access and authentication to ensure data privacy and security.</p>
                </div>
              </div>
              <div class="faq-item">
                <button class="faq-question">  Q7: Can I update or add employee data?</button>
                <div class="faq-answer">
                  <p>: Yes, admins can manage employee data, retrain the model, and update predictions.</p>
                </div>
              </div>
              </div>
              </div>
        </div>
    </div>
    <div class="container-fluid foot">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="foot_1">
                    <h2>Employee Performance Prediction</h2>
                    <p>A smart ML-powered tool to analyze and predict employee productivity. Helps organizations make data-driven HR decisions and support workforce development.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="foot_1">
                    <h2>Quick Links</h2>
                    <ul style="list-style: none; padding: 0;">
                        <li><a href="/">Home</a></li>
                        <li><a href="/predict">Predict</a></li>
                        <li><a href="/about">About Us</a></li>
                      </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="foot_2">
                    <h2>Contact Us</h2>
                    <p>text-decoration: none;<br> 
                       color: #555;</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="foot_3">
                    <h3>© 2025 Employee Performance Predictor. All Rights Reserved.</h3>
                    <h3>This tool is for educational purposes and provides predictive insights, not final HR decisions.</h3>
                </div>
                    
            </div>
        </div>
    </div>  
<script>
    const questions = document.querySelectorAll(".faq-question");
    questions.forEach(btn => {
      btn.addEventListener("click", () => {
        btn.classList.toggle("active");
        const answer = btn.nextElementSibling;
        answer.style.display = answer.style.display === "block" ? "none" : "block";
      });
    });
</script>






   
</body>
</html>

